/* === COLORS === */
$primary_very_dark_magenta: hsl(300, 43%, 22%);
$primary_soft_pink: hsl(333, 80%, 67%);

$neutral_dark_grayish_magenta: hsl(303, 10%, 53%);
$neutral_Light_grayish_magenta: hsl(300, 24%, 96%);

/* === FONTS === */
// $paragraph_size: 16px;
